<body>
  <div class="card" (click)="toggle()">
    <div class="content" *ngIf="pinState === 'ON'">
      <div class="imgBx">
        {{ pinId }}
      </div>
      <div class="contentBx">
        <h3 class="nm">
          Pin Number : {{ pinNum }} <br />
          Pin State : {{ pinState }} <br />
          <span>{{ pinDesc }}</span>
        </h3>
      </div>
    </div>
    <div class="content trans" *ngIf="pinState === 'OFF'">
      <div class="imgBx">
        {{ pinId }}
      </div>
      <div class="contentBx">
        <h3 class="nm">
          Pin Number : {{ pinNum }} <br />
          Pin State : {{ pinState }} <br />
          <span>{{ pinDesc }}</span>
        </h3>
      </div>
    </div>
  </div>
</body>
